<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/test?serverTimezone=UTC</property>
        <property name="format_sql">true</property>
        <property name="show_sql">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.Address"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.Company"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.Product"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.Project"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.ProviderAccount"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.Purchase"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.Subject"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.Unconformity"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.UserAccount"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.UserAction"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.UserActionPurchase"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.UserActionType"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.UserFunction"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.UserGroup"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.UserOrder"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.UserRequest"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.UserRoles"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.Computer"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.License"/>
        <mapping class="fr.romdhani.aymen.toolios.core.orm.Screen"/>

    </session-factory>
</hibernate-configuration>